*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lato", serif;
    color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 24px;
    margin: 0;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;

    @media (max-width:768px) {
        font-size: 14px;
    }
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

ul {
    padding: 0;
}

img {
    width: 100%;
    max-width: max-content;
    height: auto;
}

a:hover {
    filter: brightness(105%);
}